<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque corrupti molestiae sapiente voluptates nisi eligendi, vel voluptatum obcaecati laudantium sequi, commodi soluta deleniti delectus tempore voluptas at voluptatibus laborum! Obcaecati expedita ipsum officia, dolor perspiciatis similique incidunt ab cupiditate, odio ea iure rem molestias laboriosam. Quo, unde distinctio, aliquam quisquam perferendis tempora illum veniam, facilis hic odio itaque ratione reprehenderit quia officia beatae modi deserunt ad rem earum architecto similique vitae cupiditate. Vitae vero, dignissimos veniam quae quas laboriosam facere in voluptas laudantium officiis iusto similique, sint magni officia sed! Quam distinctio dolorem, facilis alias quis vero deleniti optio labore iure, eum itaque, error quas id? Tenetur dignissimos nam, nostrum provident cumque sed optio commodi reprehenderit? Incidunt architecto atque voluptatem excepturi perferendis et itaque explicabo quam, aliquam impedit placeat, ipsum, voluptas ea nesciunt! Aliquid excepturi odit placeat quas in earum, ducimus voluptas sit culpa quos dignissimos obcaecati, laborum animi eos, reiciendis consequatur voluptate quam quisquam sed? Dolore provident incidunt tempore, quis aut perspiciatis! Architecto, sit? Totam optio quaerat dolore repudiandae obcaecati perferendis quod minima adipisci voluptas, quasi iure incidunt officiis exercitationem hic fuga laboriosam aspernatur commodi eveniet! Reiciendis deleniti similique nulla hic quidem id? Quo itaque reprehenderit deserunt esse quibusdam sed est voluptate, temporibus facilis assumenda sunt enim ipsa eius reiciendis corporis quas commodi unde ullam distinctio odit repellendus vitae? Deleniti deserunt iure eligendi similique esse voluptatem praesentium molestiae consectetur, maiores, aperiam id quam? Quam maxime aspernatur non officiis quo vel eaque, blanditiis similique accusamus dolorum ipsa facilis esse sapiente iure harum rerum nesciunt atque suscipit natus! Dicta dolorum inventore quam temporibus rem harum soluta error, repudiandae praesentium aspernatur ipsa officia quidem consequatur blanditiis eaque quis ducimus sapiente. Obcaecati, natus? Ab dolorum, modi cupiditate qui enim ut, quaerat odit maiores est impedit eius, voluptates itaque aliquam natus? Doloribus, culpa dicta?</p>
    </ul>
  </body>
</html>