<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Sugar</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quis, iure, fugit quam in nesciunt necessitatibus a commodi quidem amet modi nisi, ea numquam hic impedit nobis voluptate! Unde dicta nisi natus voluptas accusamus doloribus excepturi dolore, sequi, exercitationem ullam modi. Quae saepe sed minima? Deleniti possimus debitis molestias numquam corporis? Iusto ea eos quae, soluta expedita perferendis beatae dolore dolores quaerat consequuntur. Praesentium quisquam quasi repellendus tenetur sit asperiores nihil laboriosam, consectetur velit expedita ex quos quibusdam beatae deserunt aliquid facere recusandae optio adipisci ipsa sunt animi repudiandae quaerat nulla. Quas cum magnam repellendus architecto, a distinctio quo ipsum veritatis cupiditate excepturi eligendi ipsa est impedit dolorem obcaecati itaque explicabo velit voluptates sequi in repellat amet ad. Nulla error, fuga exercitationem fugiat sed tempora eligendi deleniti dignissimos dolores optio impedit provident maiores assumenda, natus reiciendis quod iusto harum alias aliquam recusandae. Voluptatum odio ut earum cum id eveniet magni necessitatibus rerum consectetur officiis, numquam quo praesentium quas fugit error. Culpa ipsa dolorem assumenda voluptate perspiciatis a fugiat veniam modi sunt, quis autem vel deserunt accusantium iste neque asperiores possimus molestias perferendis suscipit ratione! Sit in esse, harum facilis quibusdam ducimus delectus laudantium culpa tempora officiis, assumenda sint at ad fugiat eligendi odio deserunt iste. Rerum unde consequuntur provident blanditiis vel fugiat ratione quia error numquam minus aliquam, voluptas, dolorum reiciendis. At assumenda sint placeat commodi distinctio reiciendis vel natus facere laudantium dolorum, harum ea consequatur tempora fugiat sed nulla magni, veniam perspiciatis excepturi accusantium quidem nemo dolor. Illum quo eligendi voluptatum odit consequuntur tempora vero obcaecati adipisci eos tempore, dolore temporibus vitae ipsam fugit voluptate voluptas amet voluptatem nulla dolorem. Assumenda a magnam sequi debitis veritatis repellat. Totam accusamus deserunt amet sed debitis tempore modi? Nostrum magni vitae tenetur voluptatibus consequatur dolorem, ipsam mollitia vel molestiae, sequi cumque quam.</p>
      
      
    </ul>
  </body>
</html>